*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    margin-inline: auto;    
}

/* header style */
header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../../Wallpaper/nasa-53884-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigation{
width: 100%;
padding: 10px 0 10px 0;
}

.navigation .box-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation .box:nth-child(1) h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 0;
}
.navigation .box:nth-child(1) h2{
    font-size: 15px;
    color: white;
    margin-top: 0;
}
.navigation .box:nth-child(1) h1 h4{
    line-height: 0;
    margin: 0;
}

.navigation .box-navigation .box:nth-child(2) ul { 
    display: flex;
    flex-direction: row;
    
}

.navigation .box-navigation .box:nth-child(2) ul li{
    list-style-type: none;
    margin-left: 40px;  
    
}

.navigation .box-navigation .box:nth-child(2) ul li a{ 
     text-decoration: none;
     color: white; 
     font-size: 25;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease ;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
 } 

 .navigation .box-navigation .box:nth-child(2) ul li a:hover{
    color: lightslategray;
 }

 .navigation .box-navigation .box:nth-child(3){
    display: none;
 }
/* header style */

/* teks style */

/* dashboard */
header .teks1{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
}

header .teks1 h1{
    color: white;
    font-size: 30px;
    opacity: 0.7; 
    max-width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
/* dashboard */

/* tentangkami */
.tentangkami {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fefae0;
}

.tentangkami .box-tentangkami {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tentangkami .box-tentangkami .box:nth-child(1) {
    padding-right : 30px;
}
.tentangkami .box-tentangkami .box:nth-child(1) h1{
    font-size: 40px;
}
.tentangkami .box-tentangkami .box:nth-child(1) p{
    line-height: 2;
}

.tentangkami .box-tentangkami .box:nth-child(2) img{
    border-radius: 10px;
    width: 500px;
}

@media screen and (max-width: 1200px) {
    .tentangkami .box-tentangkami .box:nth-child(2) img {
        width: 350px;
    }
}
/* tentangkami */

/* destinasi */
.destinasi {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #00afb9;
}
.destinasi .box-destinasi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.destinasi .box-destinasi .box{
    text-align: center;
    margin-inline: 20px;
    color: white;
}
.destinasi .box-destinasi .box img{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;

}
.destinasi .box-destinasi img{
    width: 100%;
    
}

/* destinasi */

/* galeri */
.Galeri {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: bisque;
    flex-direction: column;
}
.Galeri .container {
    position: relative;
}
.Galeri h1 {
    position: absolute;
    top: 10px; /* Jarak dari atas container */
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
    padding: 10px;
}
.Galeri .box-galeri {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Galeri .box-galeri img{
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    margin-top: 60px;
}
/* galeri */

/* contact */
.contact{
    width: 100%;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00afb9;
}
.contact .box-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contact .box-contact h1{
    font-size: 50px;
    font-weight: bold;
}
.contact .box-contact form table tr{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.contact .box-contact form table td label{
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}
.contact .box-contact form table tr td input{
    padding: 10px 50px 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.contact .box-contact form table tr td textarea{
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 15px;
}
/* contact */

/* footer */
footer{
    background-color: whitesmoke;
}
footer p{
    text-align: center;
    padding: 20px 0px 20px 0px;
    
}
/* footer */


/* teks style */
 @media screen and (max-width: 990px) {
    .navigation .box-navigation .box:nth-child(2){
        display: flex;
        position: absolute;
        top: 10px;
        right: 65px;
        background-color: rgba(211, 211, 211, 0.7);
        width: 145px;
        border-radius: 10px;
        opacity: 0;
        transition: all 2s ease;
    }
    .navigation .box-navigation .box:nth-child(2) ul li a:hover{
        color: black;
     }
    .navigation .box-navigation .menu-navigation.menu-active{
        opacity: 1;
        top: 33px;
    }
    .navigation .box-navigation .box:nth-child(2) ul{
        flex-direction: column;
    }
    .navigation .box-navigation .box:nth-child(2) ul li{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .navigation .box-navigation .box:nth-child(2) ul li a{
        color: white;
    }
    .navigation .box-navigation .box:nth-child(3){
        display: flex;
        align-items: center;
    }
    .navigation .box-navigation .box:nth-child(3) i {
        font-size: 25px;
    }
 }


    
 @media screen and (max-width: 990px){
    .tentangkami .box-tentangkami{
        flex-direction: column-reverse;
        text-align: center;
    }
 }
 

 @media screen and (max-width: 750px) {
    header .teks1 h1{
        font-size: 20px;
    }
 }
